* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(214, 235, 241);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    height: 100%;
}

header {
    background-color: rgb(47, 79, 79);
    color: black;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.bloco-azul {
    background-color: rgb(47, 79, 79);
    color: white;
    width: 50px;
    height: 80px;
    border: 3px solid rgb(0, 0, 0);
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
}

.bloco-branco {
    background-color: rgb(47, 79, 79);
    color: white;
    width: 50px;
    height: 80px;
    border: 3px solid rgb(0, 0, 0);
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
}

.duas-colunas {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.duas-colunas div {
    width: 45%;
}

.container {
    width: 300px;
    max-width: 90%;
    padding: 25px;
    font-size: medium;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(47, 79, 79);
    color: black;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container input, .container select, .container textarea {
    width: 100%;
    padding: 10px 12px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #000;
    background: white;
    color: #000;
}

.container button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.container button:hover {
    background-color: black;
}
.Voltar {
    color: #000;
    position: fixed;
    bottom: 10px;  
    right: 20px;   
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.2s;
}

.Voltar:hover {
    text-decoration-color: black;
}

.btn-arquivo {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    color: #808080		;
}

#nome-arquivo {
    color: black;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;

}

#arquivo {
    display: none;
}

.gnr{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin: 25px ;
}

.gnr input[type="radio"] {
    border-radius: 2px solid black;
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
}

.gnr input[type="radio"]:checked {
background-color: #000;
}