body {
    background-color: rgb(214, 235, 241);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: rgb(47,79,79);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: rgb(0,0,0);
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.bloco-azul {
    background-color: rgb(47,79,79);
    color: white;
    width: 50px;
    height: 80px;
    border: 3px solid rgb(0,0,0);
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
}

.bloco-branco {
    background-color: rgb(47,79,79);
    color: white;
    width: 50px;
    height: 80px;
    border: 3px solid rgb(0,0,0);
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
}

.duas-colunas {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.duas-colunas div {
    width: 45%;
}

form {
    padding: 25px;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 350px;
    margin: 50px auto;
}

input, select {
    width: 50%;
    padding: 50px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #000;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(26, 39, 85);
}

form{
    background-color: rgb(47,79,79);
}

label{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5%;
    width: 200px;
    background-color: white;
}

.Voltar{
    color: #000;
    margin: 820px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.2s;
}

.Voltar:hover{
    text-decoration-color: black;
}





